<div align="center">
    <table>
        <tr>
            <td><a href="/titles/list">
                <%= image_tag "marketopen.png", :alt => "Market Open", :border => "0" %>
            </a></td>
        </tr>
        <tr>
            <td>
                Game <%= @game.id %> - <b>Click on image to start</b> - Players: 
<% @players.each do |player| %>
<span>
<%= link_to player.name, { :controller => 'player', :action => 'show', :id => player.id  } %>
</span>
<% end %>
<%= "#{session[:playername]} session id = #{request.session_options[:id]}" %>
            </td>
        </tr>
</table>
</div>