<div align="left">
	<%= form_tag do %>
	<p>Existing players:</p>
	<%= select_tag "playersnow", options_from_collection_for_select(@players, "id", "name"), :multiple => true %>
	<br /><br />
	<%= submit_tag("Invite these players to a new game") %>    
	<% end %>
</div>