
<table border="0" width="95%" cellpadding="5">
    <tr>
        <td>
        <table width="90%" bgcolor="#FF9999">
            <tr>
                <td><p>
                    Waiting for player(s) to accept your invitations...</p>
                </td>
            </tr>
            <tr>
                <td>
                    <%= link_to "Back to lobby", { :action => 'list' }, :class => "stylebutton" %>
                </td>
            </tr>
        </table>
        </td>
    </tr>
</table>