<div align="left">
    
    <ul>
    <li><a href="/home/admin?command=deleteall"><i>Delete everything</i></a></li>
    <li><a href="/home/admin?command=deleteplayers">Delete all players</a></li>
    <li><a href="/home/admin?command=deletegames">Delete all games</a></li>
    <li><a href="/home/admin?command=deleteinvitations">Delete all invitations</a></li>
    </ul>
    
</div>