<div align="center">

    <p>&nbsp;</p>
    <p>&nbsp;</p>
	<%= form_tag('/player/create', :method => :post) do %>
	Please insert your name:  
	<%= text_field_tag 'playername', nil, :placeholder => 'Your name here...' %>
	<br /><br />
	<%= submit_tag("Join games room") %>	
	<% end %>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

</div>
