<div align="center">

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <% if session[:playername].nil? %>
    	<%= form_tag('/player/create', :method => :post) do %>
    	Please insert your name:  
    	<%= text_field_tag 'playername', nil, :placeholder => 'Your name here...' %>
    	<br /><br />
    	<%= submit_tag("Join games room") %>	
    	<% end %>
    <% else %>
        <a href="#">Proceed to games room, <%= session[:playername] %></a> - or - 
        <a href="/home/logout">logout</a>
    <% end %>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

</div>
