<div align="center">


	<%= form_tag('/player/create', :method => :post) do %>
	Please insert your name:  
	<%= text_field_tag 'playername', nil, :placeholder => 'Your name here...' %>
	<br />
	<%= submit_tag("Join games") %>	
	<% end %>

</div>
