<div align="center">
<p>LittleLite Software Games </p>
<p>presents </p>
<h1>STOCK MARKET ON RAILS</h1>

	<%= form_tag('/home/startgame', :method => :get) do %>
	Please insert your name:  
	<%= text_field_tag 'playername', nil, :placeholder => 'Your name here...' %>
	<br />
	<%= submit_tag("Join games") %>	
	<% end %>

</div>
