<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Stock Market on the Web</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<%= yield :head %>
</head>

<body>
<table width="779" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="30%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="redbox">&nbsp;</td>
      </tr>
      <tr>
        <td height="45"><a href="/" class="logo">STOCK MARKET</a></td>
      </tr>
      <tr>
        <td><a href="/" class="tag">The Web Game</a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#E2E2D2" class="border" height="40">
    <table width="97%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="20%" align="center" >&nbsp;<a href="index.html" class="toplinks">Documentation</a></td>
        <td width="2%" class="toplinks">|</td>
        <td width="10%" align="center" ><a href="index.html" class="toplinks">Forum</a></td>
        <td width="2%" class="toplinks">|</td>
        <td width="10%"  align="center"><a href="/home/admin" class="toplinks">Admin</a></td>
        <td width="2%" class="toplinks">|</td>
        <td align="center" width="15%"><a href="index.html" class="toplinks">Contact Us</a></td>
        <td align="right">
           <% if !session[:playername].nil? %><i>
               Logged in as <a href="#"></a><%= session[:playername] %></a></i>
           <% else %>
               &nbsp;
           <% end %> 
        </td>
      </tr>
    </table>


    
    </td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td bgcolor="#F3F3F3" class="border"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="content">

<%= yield %>

</td>
      </tr>

    </table></td>
  </tr>
  <tr>
    <td><table width="42%" border="0" align="right" cellpadding="0" cellspacing="0">
      <tr>
        <td class="copybox">all rights reserved &copy; 2012, <a href="http://www.littlelite.net/">littlelite.net</a>&nbsp;&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="10">&nbsp;</td>
  </tr>
</table>
</body>
</html>
